.link {
  text-decoration: none;
  width: 100%;
  color: inherit !important;
  cursor: pointer;
}

.white-filter {
  filter: invert(100%) sepia(100%);
}

.one-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
